@import "../../styles/colors";

.Button {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  height: 52px;
  line-height: 52px;
  background-color: $accent-color;
  display: block;
  color: $primary-color-text;
  text-align: center;
  font-size: 1.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 7px 8px 21px 3px rgba(0,0,0,0.6);
}