@import "./../../../styles/variables";
@import "./../../../styles/colors";

.ProductBlock {

  width: 100%;
  background-color: $primary-color-dark;
  &__button {

  }

  &__row {
    height: 30%;
    width: 100%;
  }
}