@import "../../styles/variables";
@import "../../styles/colors";

.Header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  min-height : $header-height;
  max-height : $header-height;

  background-color: $primary-color;
  color: $primary-color-text;

  &__menu {
    background-size: cover;
    width: 2rem;
  }

  &__text {
  }
}