@import "../../styles/variables";
@import "../../styles/colors";
@import "./Header__NavIcon";

.Header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  min-height : $header-height;
  max-height : $header-height;

  background-color: $primary-color;
  color: $primary-color-text;

  &__menuIcon {
    max-height: $header-height;
  }

  &__text {
  }

  &--open {
    min-height : $header-height * 2.5;

    -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
    -webkit-transform-origin: 50% 50%;
    transition: 350ms;
  }
}

@media only screen and (min-width: 768px) {
  .Header {
    &--open {
      min-height : $header-height;
    }

    &__menuIcon {
      display: none;
    }
  }
}

