<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Allied panda</title>
    <link rel="icon" type="image/x-icon" href="panda_thn_icon.ico">
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript" src="main.bundle.js"></script>
</body>
</html>